@using Bertoni.CodingChallenge.Common.Entities;
@model List<Photo>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <td>Title</td>
            <td>Photo</td>
            <td>View Comments</td>
        </tr>
    </thead>
    @foreach (var photo in Model)
    {
        <tr>
            <td style="width:400px;">@photo.Title</td>
            <td><img style="width:50px; height:50px;" src="@photo.Url.Trim()" /></td>
            <td>@Html.ActionLink("View Comments", "Comments", "PhotoAlbum", new { photoId = photo.Id }, new { target ="_blank"})</td>
        </tr>
    }
</table>